.transition_effect {
	opacity: 0;
}
.dollarMarkdownPreview {
	z-index: 999;
	position: fixed;
	object-fit: contain;
	right: 2%;
	top: 10px;
	width: 500px;
	max-width: 90%;
	height: -webkit-fill-available;
	border: 1px solid gray;
	background-color: white;
	overflow-x: scroll;
	white-space: normal;
	padding: 7px;
  	opacity: 1;
}

.fa-brands{
	line-height: inherit;
}


.md-preview {
    /*light*/
    color-scheme: light;
    --color-prettylights-syntax-comment: #57606a;
    --color-prettylights-syntax-constant: #0550ae;
    --color-prettylights-syntax-entity: #6639ba;
    --color-prettylights-syntax-storage-modifier-import: #24292f;
    --color-prettylights-syntax-entity-tag: #116329;
    --color-prettylights-syntax-keyword: #cf222e;
    --color-prettylights-syntax-string: #0a3069;
    --color-prettylights-syntax-variable: #953800;
    --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
    --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
    --color-prettylights-syntax-invalid-illegal-bg: #82071e;
    --color-prettylights-syntax-carriage-return-text: #f6f8fa;
    --color-prettylights-syntax-carriage-return-bg: #cf222e;
    --color-prettylights-syntax-string-regexp: #116329;
    --color-prettylights-syntax-markup-list: #3b2300;
    --color-prettylights-syntax-markup-heading: #0550ae;
    --color-prettylights-syntax-markup-italic: #24292f;
    --color-prettylights-syntax-markup-bold: #24292f;
    --color-prettylights-syntax-markup-deleted-text: #82071e;
    --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
    --color-prettylights-syntax-markup-inserted-text: #116329;
    --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
    --color-prettylights-syntax-markup-changed-text: #953800;
    --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
    --color-prettylights-syntax-markup-ignored-text: #eaeef2;
    --color-prettylights-syntax-markup-ignored-bg: #0550ae;
    --color-prettylights-syntax-meta-diff-range: #8250df;
    --color-prettylights-syntax-brackethighlighter-angle: #57606a;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
    --color-prettylights-syntax-constant-other-reference-link: #0a3069;
    --color-fg-default: #1F2328;
    --color-fg-muted: #656d76;
    --color-fg-subtle: #6e7781;
    --color-canvas-default: #ffffff;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #433c3c;
    --color-border-muted: hsla(210,18%,87%,1);
    --color-neutral-muted: rgba(175,184,193,0.2);
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-success-fg: #1a7f37;
    --color-success-emphasis: #1f883d;
    --color-attention-fg: #9a6700;
    --color-attention-emphasis: #9a6700;
    --color-attention-subtle: #fff8c5;
    --color-danger-fg: #d1242f;
    --color-danger-emphasis: #cf222e;
    --color-done-fg: #8250df;
    --color-done-emphasis: #8250df;
}


.md-preview {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--color-fg-default);
  background-color: var(--color-canvas-default);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  margin: 10px;
}

.md-preview .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.md-preview h1:hover .anchor .octicon-link:before,
.md-preview h2:hover .anchor .octicon-link:before,
.md-preview h3:hover .anchor .octicon-link:before,
.md-preview h4:hover .anchor .octicon-link:before,
.md-preview h5:hover .anchor .octicon-link:before,
.md-preview h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.md-preview details,
.md-preview figcaption,
.md-preview figure {
  display: block;
}

.md-preview summary {
  display: list-item;
}

.md-preview [hidden] {
  display: none !important;
}

.md-preview a {
  background-color: transparent;
  color: var(--color-accent-fg);
  text-decoration: none;
}

.md-preview abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

.md-preview b,
.md-preview strong {
  font-weight: var(--base-text-weight-semibold, 600);
}

.md-preview dfn {
  font-style: italic;
}

.md-preview h1 {
  margin: .67em 0;
  font-weight: var(--base-text-weight-semibold, 600);
  padding-bottom: .3em;
  font-size: 2em;
  /* border-bottom: 1px solid var(--color-border-muted); */
}

.md-preview mark {
  background-color: var(--color-attention-subtle);
  color: var(--color-fg-default);
}

.md-preview small {
  font-size: 90%;
}

.md-preview sub,
.md-preview sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.md-preview sub {
  bottom: -0.25em;
}

.md-preview sup {
  top: -0.5em;
}

.md-preview img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: var(--color-canvas-default);
}

.md-preview code,
.md-preview kbd,
.md-preview pre,
.md-preview samp {
  font-family: monospace;
  font-size: 1em;
}

.md-preview figure {
  margin: 1em 40px;
}

.md-preview hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid var(--color-border-muted);
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--color-border-default);
  border: 0;
}

.md-preview input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.md-preview [type=button],
.md-preview [type=reset],
.md-preview [type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

.md-preview [type=checkbox],
.md-preview [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.md-preview [type=number]::-webkit-inner-spin-button,
.md-preview [type=number]::-webkit-outer-spin-button {
  height: auto;
}

.md-preview [type=search]::-webkit-search-cancel-button,
.md-preview [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.md-preview ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

.md-preview ::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

.md-preview a:hover {
  text-decoration: underline;
}

.md-preview ::placeholder {
  color: var(--color-fg-subtle);
  opacity: 1;
}

.md-preview hr::before {
  display: table;
  content: "";
}

.md-preview hr::after {
  display: table;
  clear: both;
  content: "";
}

.md-preview table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.md-preview td,
.md-preview th {
  padding: 0;
}

.md-preview details summary {
  cursor: pointer;
}

.md-preview details:not([open])>*:not(summary) {
  display: none !important;
}

.md-preview a:focus,
.md-preview [role=button]:focus,
.md-preview input[type=radio]:focus,
.md-preview input[type=checkbox]:focus {
  outline: 2px solid var(--color-accent-fg);
  outline-offset: -2px;
  box-shadow: none;
}

.md-preview a:focus:not(:focus-visible),
.md-preview [role=button]:focus:not(:focus-visible),
.md-preview input[type=radio]:focus:not(:focus-visible),
.md-preview input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

.md-preview a:focus-visible,
.md-preview [role=button]:focus-visible,
.md-preview input[type=radio]:focus-visible,
.md-preview input[type=checkbox]:focus-visible {
  outline: 2px solid var(--color-accent-fg);
  outline-offset: -2px;
  box-shadow: none;
}

.md-preview a:not([class]):focus,
.md-preview a:not([class]):focus-visible,
.md-preview input[type=radio]:focus,
.md-preview input[type=radio]:focus-visible,
.md-preview input[type=checkbox]:focus,
.md-preview input[type=checkbox]:focus-visible {
  outline-offset: 0;
}

.md-preview kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: var(--color-fg-default);
  vertical-align: middle;
  background-color: var(--color-canvas-subtle);
  border: solid 1px var(--color-neutral-muted);
  border-bottom-color: var(--color-neutral-muted);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 var(--color-neutral-muted);
}

.md-preview h1,
.md-preview h2,
.md-preview h3,
.md-preview h4,
.md-preview h5,
.md-preview h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: var(--base-text-weight-semibold, 600);
  line-height: 1.25;
}

.md-preview h2 {
  font-weight: var(--base-text-weight-semibold, 600);
  padding-bottom: .3em;
  font-size: 1.5em;
  /* border-bottom: 1px solid var(--color-border-muted); */
}

.md-preview h3 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: 1.25em;
}

.md-preview h4 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: 1em;
}

.md-preview h5 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: .875em;
}

.md-preview h6 {
  font-weight: var(--base-text-weight-semibold, 600);
  font-size: .85em;
  color: var(--color-fg-muted);
}

.md-preview p {
  margin-top: 0;
  margin-bottom: 10px;
}

.md-preview blockquote {
  margin: 0;
  padding: 0 1em;
  color: var(--color-fg-muted);
  border-left: .25em solid var(--color-border-default);
}

.md-preview ul {
  list-style-type: disc; /* Change to 'circle' or 'square' for different bullet styles */
}

.md-preview ol {
  list-style-type: decimal; /* Change to 'lower-alpha', 'upper-roman', etc. for different numbering styles */
}


.md-preview ul,
.md-preview ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.md-preview ol ol,
.md-preview ul ol {
  list-style-type: lower-roman;
}

.md-preview ul ul ol,
.md-preview ul ol ol,
.md-preview ol ul ol,
.md-preview ol ol ol {
  list-style-type: lower-alpha;
}

.md-preview dd {
  margin-left: 0;
}

.md-preview tt,
.md-preview code,
.md-preview samp {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

.md-preview pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}

.md-preview .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.md-preview input::-webkit-outer-spin-button,
.md-preview input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.md-preview .mr-2 {
  margin-right: var(--base-size-8, 8px) !important;
}

.md-preview::before {
  display: table;
  content: "";
}

.md-preview::after {
  display: table;
  clear: both;
  content: "";
}

.md-preview>*:first-child {
  margin-top: 0 !important;
}

.md-preview>*:last-child {
  margin-bottom: 0 !important;
}

.md-preview a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.md-preview .absent {
  color: var(--color-danger-fg);
}

.md-preview .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.md-preview .anchor:focus {
  outline: none;
}

.md-preview p,
.md-preview blockquote,
.md-preview ul,
.md-preview ol,
.md-preview dl,
.md-preview table,
.md-preview pre,
.md-preview details {
  margin-top: 0;
  margin-bottom: 16px;
}

.md-preview blockquote>:first-child {
  margin-top: 0;
}

.md-preview blockquote>:last-child {
  margin-bottom: 0;
}

.md-preview h1 .octicon-link,
.md-preview h2 .octicon-link,
.md-preview h3 .octicon-link,
.md-preview h4 .octicon-link,
.md-preview h5 .octicon-link,
.md-preview h6 .octicon-link {
  color: var(--color-fg-default);
  vertical-align: middle;
  visibility: hidden;
}

.md-preview h1:hover .anchor,
.md-preview h2:hover .anchor,
.md-preview h3:hover .anchor,
.md-preview h4:hover .anchor,
.md-preview h5:hover .anchor,
.md-preview h6:hover .anchor {
  text-decoration: none;
}

.md-preview h1:hover .anchor .octicon-link,
.md-preview h2:hover .anchor .octicon-link,
.md-preview h3:hover .anchor .octicon-link,
.md-preview h4:hover .anchor .octicon-link,
.md-preview h5:hover .anchor .octicon-link,
.md-preview h6:hover .anchor .octicon-link {
  visibility: visible;
}

.md-preview h1 tt,
.md-preview h1 code,
.md-preview h2 tt,
.md-preview h2 code,
.md-preview h3 tt,
.md-preview h3 code,
.md-preview h4 tt,
.md-preview h4 code,
.md-preview h5 tt,
.md-preview h5 code,
.md-preview h6 tt,
.md-preview h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

.md-preview summary h1,
.md-preview summary h2,
.md-preview summary h3,
.md-preview summary h4,
.md-preview summary h5,
.md-preview summary h6 {
  display: inline-block;
}

.md-preview summary h1 .anchor,
.md-preview summary h2 .anchor,
.md-preview summary h3 .anchor,
.md-preview summary h4 .anchor,
.md-preview summary h5 .anchor,
.md-preview summary h6 .anchor {
  margin-left: -40px;
}

.md-preview summary h1,
.md-preview summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

.md-preview ul.no-list,
.md-preview ol.no-list {
  padding: 0;
  list-style-type: none;
}

.md-preview ol[type="a s"] {
  list-style-type: lower-alpha;
}

.md-preview ol[type="A s"] {
  list-style-type: upper-alpha;
}

.md-preview ol[type="i s"] {
  list-style-type: lower-roman;
}

.md-preview ol[type="I s"] {
  list-style-type: upper-roman;
}

.md-preview ol[type="1"] {
  list-style-type: decimal;
}

.md-preview div>ol:not([type]) {
  list-style-type: decimal;
}

.md-preview ul ul,
.md-preview ul ol,
.md-preview ol ol,
.md-preview ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.md-preview li>p {
  margin-top: 16px;
}

.md-preview li+li {
  margin-top: .25em;
}

.md-preview dl {
  padding: 0;
}

.md-preview dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: var(--base-text-weight-semibold, 600);
}

.md-preview dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.md-preview table th {
  font-weight: var(--base-text-weight-semibold, 600);
}

.md-preview table th,
.md-preview table td {
  padding: 6px 13px;
  border: 1px solid var(--color-border-default);
}

.md-preview table td>:last-child {
  margin-bottom: 0;
}

.md-preview table tr {
  background-color: var(--color-canvas-default);
  border-top: 1px solid var(--color-border-muted);
}

.md-preview table tr:nth-child(2n) {
  background-color: var(--color-canvas-subtle);
}

.md-preview table img {
  background-color: transparent;
}

.md-preview img[align=right] {
  padding-left: 20px;
}

.md-preview img[align=left] {
  padding-right: 20px;
}

.md-preview .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

.md-preview span.frame {
  display: block;
  overflow: hidden;
}

.md-preview span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid var(--color-border-default);
}

.md-preview span.frame span img {
  display: block;
  float: left;
}

.md-preview span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: var(--color-fg-default);
}

.md-preview span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.md-preview span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.md-preview span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.md-preview span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.md-preview span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.md-preview span.align-right span img {
  margin: 0;
  text-align: right;
}

.md-preview span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.md-preview span.float-left span {
  margin: 13px 0 0;
}

.md-preview span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.md-preview span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.md-preview code,
.md-preview tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
}

.md-preview code br,
.md-preview tt br {
  display: none;
}

.md-preview del code {
  text-decoration: inherit;
}

.md-preview samp {
  font-size: 85%;
}

.md-preview pre code {
  font-size: 100%;
}

.md-preview pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.md-preview .highlight {
  margin-bottom: 16px;
}

.md-preview .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.md-preview .highlight pre,
.md-preview pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  color: var(--color-fg-default);
  background-color: var(--color-canvas-subtle);
  border-radius: 6px;
}

.md-preview pre code,
.md-preview pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.md-preview .csv-data td,
.md-preview .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

.md-preview .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: var(--color-canvas-default);
  border: 0;
}

.md-preview .csv-data tr {
  border-top: 0;
}

.md-preview .csv-data th {
  font-weight: var(--base-text-weight-semibold, 600);
  background: var(--color-canvas-subtle);
  border-top: 0;
}

.md-preview [data-footnote-ref]::before {
  content: "[";
}

.md-preview [data-footnote-ref]::after {
  content: "]";
}

.md-preview .footnotes {
  font-size: 12px;
  color: var(--color-fg-muted);
  border-top: 1px solid var(--color-border-default);
}

.md-preview .footnotes ol {
  padding-left: 16px;
}

.md-preview .footnotes ol ul {
  display: inline-block;
  padding-left: 16px;
  margin-top: 16px;
}

.md-preview .footnotes li {
  position: relative;
}

.md-preview .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid var(--color-accent-emphasis);
  border-radius: 6px;
}

.md-preview .footnotes li:target {
  color: var(--color-fg-default);
}

.md-preview .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

.md-preview .pl-c {
  color: var(--color-prettylights-syntax-comment);
}

.md-preview .pl-c1,
.md-preview .pl-s .pl-v {
  color: var(--color-prettylights-syntax-constant);
}

.md-preview .pl-e,
.md-preview .pl-en {
  color: var(--color-prettylights-syntax-entity);
}

.md-preview .pl-smi,
.md-preview .pl-s .pl-s1 {
  color: var(--color-prettylights-syntax-storage-modifier-import);
}

.md-preview .pl-ent {
  color: var(--color-prettylights-syntax-entity-tag);
}

.md-preview .pl-k {
  color: var(--color-prettylights-syntax-keyword);
}

.md-preview .pl-s,
.md-preview .pl-pds,
.md-preview .pl-s .pl-pse .pl-s1,
.md-preview .pl-sr,
.md-preview .pl-sr .pl-cce,
.md-preview .pl-sr .pl-sre,
.md-preview .pl-sr .pl-sra {
  color: var(--color-prettylights-syntax-string);
}

.md-preview .pl-v,
.md-preview .pl-smw {
  color: var(--color-prettylights-syntax-variable);
}

.md-preview .pl-bu {
  color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.md-preview .pl-ii {
  color: var(--color-prettylights-syntax-invalid-illegal-text);
  background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.md-preview .pl-c2 {
  color: var(--color-prettylights-syntax-carriage-return-text);
  background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.md-preview .pl-sr .pl-cce {
  font-weight: bold;
  color: var(--color-prettylights-syntax-string-regexp);
}

.md-preview .pl-ml {
  color: var(--color-prettylights-syntax-markup-list);
}

.md-preview .pl-mh,
.md-preview .pl-mh .pl-en,
.md-preview .pl-ms {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-heading);
}

.md-preview .pl-mi {
  font-style: italic;
  color: var(--color-prettylights-syntax-markup-italic);
}

.md-preview .pl-mb {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-bold);
}

.md-preview .pl-md {
  color: var(--color-prettylights-syntax-markup-deleted-text);
  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.md-preview .pl-mi1 {
  color: var(--color-prettylights-syntax-markup-inserted-text);
  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.md-preview .pl-mc {
  color: var(--color-prettylights-syntax-markup-changed-text);
  background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.md-preview .pl-mi2 {
  color: var(--color-prettylights-syntax-markup-ignored-text);
  background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.md-preview .pl-mdr {
  font-weight: bold;
  color: var(--color-prettylights-syntax-meta-diff-range);
}

.md-preview .pl-ba {
  color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.md-preview .pl-sg {
  color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.md-preview .pl-corl {
  text-decoration: underline;
  color: var(--color-prettylights-syntax-constant-other-reference-link);
}

.md-preview g-emoji {
  display: inline-block;
  min-width: 1ch;
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: var(--base-text-weight-normal, 400);
  line-height: 1;
  vertical-align: -0.075em;
}

.md-preview g-emoji img {
  width: 1em;
  height: 1em;
}

.md-preview .task-list-item {
  list-style-type: none;
}

.md-preview .task-list-item label {
  font-weight: var(--base-text-weight-normal, 400);
}

.md-preview .task-list-item.enabled label {
  cursor: pointer;
}

.md-preview .task-list-item+.task-list-item {
  margin-top: 4px;
}

.md-preview .task-list-item .handle {
  display: none;
}

.md-preview .task-list-item-checkbox {
  margin: 0 .2em .25em -1.4em;
  vertical-align: middle;
}

.md-preview .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

.md-preview .contains-task-list {
  position: relative;
}

.md-preview .contains-task-list:hover .task-list-item-convert-container,
.md-preview .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

.md-preview ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.md-preview .markdown-alert {
  padding: var(--base-size-8) var(--base-size-16);
  margin-bottom: 16px;
  color: inherit;
  border-left: .25em solid var(--color-border-default);
}

.md-preview .markdown-alert>:first-child {
  margin-top: 0;
}

.md-preview .markdown-alert>:last-child {
  margin-bottom: 0;
}

.md-preview .markdown-alert .markdown-alert-title {
  display: flex;
  font-weight: var(--base-text-weight-medium, 500);
  align-items: center;
  line-height: 1;
}

.md-preview .markdown-alert.markdown-alert-note {
  border-left-color: var(--color-accent-emphasis);
}

.md-preview .markdown-alert.markdown-alert-note .markdown-alert-title {
  color: var(--color-accent-fg);
}

.md-preview .markdown-alert.markdown-alert-important {
  border-left-color: var(--color-done-emphasis);
}

.md-preview .markdown-alert.markdown-alert-important .markdown-alert-title {
  color: var(--color-done-fg);
}

.md-preview .markdown-alert.markdown-alert-warning {
  border-left-color: var(--color-attention-emphasis);
}

.md-preview .markdown-alert.markdown-alert-warning .markdown-alert-title {
  color: var(--color-attention-fg);
}

.md-preview .markdown-alert.markdown-alert-tip {
  border-left-color: var(--color-success-emphasis);
}

.md-preview .markdown-alert.markdown-alert-tip .markdown-alert-title {
  color: var(--color-success-fg);
}

.md-preview .markdown-alert.markdown-alert-caution {
  border-left-color: var(--color-danger-emphasis);
}

.md-preview .markdown-alert.markdown-alert-caution .markdown-alert-title {
  color: var(--color-danger-fg);
}