.dollarMarkdownCell .dollarMarkdownText {
	text-align: center;
	display:inline-block;
	width: 100%;
	font-size: 16px;
}
.dollarMarkdownCell .dollarMarkdownText:hover {
	cursor: pointer;
}
.transition_effect {
	opacity: 0;
}
.dollarMarkdownPreview {
	z-index: 999;
	position: fixed;
	object-fit: contain;
	right: 150px;
	top: 10px;
	width: 500px;
	max-width: 40%;
	height: -webkit-fill-available;
	border: 1px solid gray;
	background-color: white;
	overflow-y: scroll;
	white-space: normal;
	padding: 7px;
	margin-bottom:10px;
  	opacity: 1;
	transition: opacity 0.5s ease;
}
