.dollarMarkdownCell .dollarMarkdownText {
	text-align: center;
	display:inline-block;
	font-size: 14px;
}
.dollarMarkdownCell .dollarMarkdownText:hover {
	cursor: pointer;
}
.transition_effect {
	opacity: 0;
}
.dollarMarkdownPreview {
	z-index: 999;
	position: fixed;
	object-fit: contain;
	right: 5%;
	top: 10px;
	width: 500px;
	max-width: 90%;
	height: -webkit-fill-available;
	border: 1px solid gray;
	background-color: white;
	overflow-x: scroll;
	white-space: normal;
	padding: 7px;
	margin-bottom:10px;
  	opacity: 1;
}

.fa-brands{
	line-height: inherit;
}